/* DEFINE FONTS*/
/* DEFINE COLOURS*/
/* line 3, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header {
  position: fixed;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #F26722;
  padding: 15px 0;
  z-index: 10;
}

@media (max-width: 767px) {
  /* line 3, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
  .header {
    height: 70px;
  }
}

/* line 14, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .logo {
  height: 40px;
  text-align: center;
}

@media (max-width: 767px) {
  /* line 14, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
  .header .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 0;
  }
}

/* line 26, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .lang-switcher {
  color: #F26722;
  float: right;
  font-size: 18px;
  border: none;
  margin-left: 20px;
  padding: 3px;
  background: #fff;
}

@media (max-width: 1240px) {
  /* line 26, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
  .header .lang-switcher {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  /* line 26, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
  .header .lang-switcher {
    font-size: 14px;
    margin-left: 10px;
    padding: 6px 0px;
  }
}

/* line 44, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 30px;
}

/* line 49, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .main-menu li {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  height: 20px;
}

/* line 54, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .main-menu li a {
  color: #F26722;
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
}

@media (max-width: 1240px) {
  /* line 54, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
  .header .main-menu li a {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (max-width: 1024px) {
  /* line 54, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
  .header .main-menu li a {
    font-size: 14px;
    line-height: 14px;
  }
}

/* line 72, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .main-menu.text-left li {
  margin-right: 30px;
}

@media (max-width: 1240px) {
  /* line 72, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
  .header .main-menu.text-left li {
    margin-right: 20px;
  }
}

@media (max-width: 1024px) {
  /* line 72, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
  .header .main-menu.text-left li {
    margin-right: 10px;
  }
}

/* line 82, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .main-menu.text-left li.shop-dropdown span i {
  font-weight: 400;
  margin-left: 8px;
  font-size: 14px;
  color: #F26722;
  cursor: pointer;
}

/* line 94, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .main-menu.text-right li {
  display: inline-block;
  margin-left: 30px;
}

@media (max-width: 1240px) {
  /* line 94, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
  .header .main-menu.text-right li {
    margin-left: 20px;
  }
}

@media (max-width: 1024px) {
  /* line 94, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
  .header .main-menu.text-right li {
    margin-left: 10px;
  }
}

/* line 104, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .main-menu.text-right li.icon a {
  height: 20px;
  width: 20px;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
}

@media (max-width: 1240px) {
  /* line 104, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
  .header .main-menu.text-right li.icon a {
    height: 16px;
    width: 16px;
  }
}

@media (max-width: 1024px) {
  /* line 104, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
  .header .main-menu.text-right li.icon a {
    height: 14px;
    width: 14px;
  }
}

/* line 121, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .main-menu.text-right li.icon.cart a {
  background: url(../img/bag-inactive.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

/* line 129, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .main-menu.text-right li.icon.my-account a {
  background: url(../img/account-inactive.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

/* line 137, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .main-menu.text-right li.icon.wishlist a {
  background: url(../img/wishlist-inactive.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

/* line 149, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .menu-button {
  float: right;
  color: #F26722;
  font-size: 20px;
  cursor: pointer;
}

/* line 155, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .menu-mobile-menu-container {
  display: none;
  top: 55px;
  left: 0;
  padding: 20px;
  position: absolute;
  background: #fff;
  border-bottom: 1px solid #F26722;
}

/* line 163, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .menu-mobile-menu-container ul {
  margin: 0;
  padding: 0;
  height: auto;
}

/* line 167, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .menu-mobile-menu-container ul.sub-menu {
  width: 100%;
  padding: 10px 0 10px 15px;
  height: auto;
}

/* line 172, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .menu-mobile-menu-container ul li {
  width: 100%;
  padding: 5px 0;
  height: auto;
}

/* line 179, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .menu-mobile-menu-it-container {
  display: none;
  top: 55px;
  left: 0;
  padding: 20px;
  position: absolute;
  background: #fff;
  border-bottom: 1px solid #F26722;
}

/* line 187, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .menu-mobile-menu-it-container ul {
  margin: 0;
  padding: 0;
  height: auto;
}

/* line 191, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .menu-mobile-menu-it-container ul.sub-menu {
  width: 100%;
  padding: 10px 0 10px 15px;
  height: auto;
}

/* line 196, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.header .menu-mobile-menu-it-container ul li {
  width: 100%;
  padding: 5px 0;
  height: auto;
}

/* line 206, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.shop-menu {
  position: fixed;
  width: 100%;
  padding: 40px 0;
  top: 70px;
  z-index: 10;
  left: 0;
  background: #006578;
  display: none;
  border-bottom: 1px solid #F26722;
}

/* line 216, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.shop-menu .cat-menu {
  margin: 0;
  list-style: none;
  padding: 0;
}

/* line 220, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.shop-menu .cat-menu li {
  border-bottom: 1px solid #F26722;
  padding: 8px 15px;
  max-width: 200pxs;
}

/* line 224, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.shop-menu .cat-menu li a {
  color: #fff;
  font-size: 16px;
}

/* line 230, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/header.scss */
.shop-menu .image-menu {
  max-height: 300px;
  margin: 0 20px;
}

/*# sourceMappingURL=header.css.map */