/* DEFINE FONTS*/
/* DEFINE COLOURS*/
/* line 3, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.main {
  padding: 70px 0 0 0;
  position: relative;
  z-index: 6;
  background: #fff;
  margin-bottom: 100vh;
  min-height: 100vh;
}

/* line 11, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.main .container.white-overlay {
  padding-bottom: 70px;
}

/* line 15, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.main .fixed-logo {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 5;
  top: 0;
  pointer-events: none;
}

/* line 22, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.main .fixed-logo .big-logo {
  position: relative;
  top: 100px;
  width: 700px;
  float: right;
  max-width: 100%;
}

@media (max-width: 1240px) {
  /* line 22, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .main .fixed-logo .big-logo {
    width: 450px;
    top: 150px;
  }
}

@media (max-width: 1024px) {
  /* line 22, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .main .fixed-logo .big-logo {
    width: 340px;
    top: 150px;
  }
}

@media (max-width: 767px) {
  /* line 22, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .main .fixed-logo .big-logo {
    width: 80%;
    float: none;
    margin: 0 auto;
    top: 120px;
    max-width: 400px;
  }
}

/* line 45, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.main .divider {
  height: 355px;
  width: 1px;
  background: #F26722;
  position: relative;
  top: 0;
  left: 50%;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  /* line 45, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .main .divider {
    height: 250px;
    left: 35px;
  }
}

/* line 57, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.main .divider.short {
  height: 120px;
}

/* line 60, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.main .divider.shorter {
  height: 60px;
}

/* line 65, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.main .section {
  position: relative;
  z-index: 7;
}

/* line 68, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.main .section .section-title-icon {
  text-align: center;
}

/* line 71, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.main .section .section-title {
  font-size: 30px;
  color: #F26722;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  /* line 71, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .main .section .section-title {
    font-size: 24px;
    line-height: 28px;
  }
}

/* line 84, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.main .content {
  color: #006578;
  margin-top: 10px;
}

/* line 87, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.main .content a {
  color: #F26722;
}

/* HOME HEADER */
/* line 97, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.home-header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #006578;
  min-height: 900px;
  max-height: 1024px;
}

@media (max-width: 1240px) {
  /* line 97, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header {
    min-height: 680px;
    max-height: 840px;
  }
}

@media (max-width: 1024px) {
  /* line 97, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header {
    min-height: 620px;
    max-height: 800px;
  }
}

@media (max-width: 767px) {
  /* line 97, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header {
    height: auto;
    padding-bottom: 0px;
    min-height: auto;
  }
}

/* line 119, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.home-header .big-logo {
  position: relative;
  top: 100px;
  width: 650px;
  float: right;
}

@media (max-width: 1500px) {
  /* line 119, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header .big-logo {
    width: 500px;
    top: 125px;
  }
}

@media (max-width: 1240px) {
  /* line 119, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header .big-logo {
    width: 450px;
    top: 150px;
  }
}

@media (max-width: 1024px) {
  /* line 119, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header .big-logo {
    width: 340px;
    top: 150px;
  }
}

@media (max-width: 767px) {
  /* line 119, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header .big-logo {
    width: 80%;
    float: none;
    margin: 0 auto;
    top: 0;
    padding-top: 50px;
    max-width: 400px;
  }
}

/* line 145, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.home-header .pattern-gold {
  position: relative;
  top: 435px;
  text-align: center;
}

@media (max-width: 1500px) {
  /* line 145, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header .pattern-gold {
    top: 380px;
  }
}

@media (max-width: 1240px) {
  /* line 145, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header .pattern-gold {
    top: 375px;
  }
}

@media (max-width: 1024px) {
  /* line 145, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header .pattern-gold {
    top: 317px;
  }
}

@media (max-width: 767px) {
  /* line 145, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header .pattern-gold {
    top: 0;
    padding: 10px 0;
  }
}

/* line 163, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.home-header .image-header {
  position: absolute;
  width: 100%;
  max-width: 850px;
  bottom: -200px;
  left: 50px;
}

@media (max-width: 1500px) {
  /* line 163, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header .image-header {
    max-width: 650px;
  }
}

@media (max-width: 1240px) {
  /* line 163, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header .image-header {
    max-width: 550px;
    left: 20px;
  }
}

@media (max-width: 1024px) {
  /* line 163, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header .image-header {
    max-width: 530px;
    left: 0px;
  }
}

@media (max-width: 767px) {
  /* line 163, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header .image-header {
    position: relative;
    max-width: 100%;
    margin: -50px auto 0 auto;
    left: 0px;
    bottom: -70px;
    padding: 0;
  }
}

/* line 189, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.home-header .container {
  height: 100%;
}

@media (max-width: 767px) {
  /* line 189, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header .container {
    height: auto;
  }
}

/* line 194, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.home-header .container .home-header-text {
  color: #fff;
  font-size: 24px;
  position: relative;
  top: 435px;
  margin-top: -10px;
}

@media (max-width: 1500px) {
  /* line 194, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header .container .home-header-text {
    top: 375px;
  }
}

@media (max-width: 1240px) {
  /* line 194, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header .container .home-header-text {
    top: 380px;
  }
}

@media (max-width: 1024px) {
  /* line 194, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header .container .home-header-text {
    top: 322px;
  }
}

@media (max-width: 767px) {
  /* line 194, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header .container .home-header-text {
    top: 0;
    padding: 10px 0;
  }
}

@media (max-width: 767px) {
  /* line 194, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .home-header .container .home-header-text {
    top: 0px;
    text-align: center;
    margin-top: 0;
  }
}

/* WOT HEADER */
/* line 225, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.company-header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #006578;
  min-height: 900px;
  max-height: 1024px;
}

@media (max-width: 1240px) {
  /* line 225, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .company-header {
    min-height: 680px;
    max-height: 840px;
  }
}

@media (max-width: 1024px) {
  /* line 225, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .company-header {
    min-height: 620px;
    max-height: 800px;
  }
}

@media (max-width: 767px) {
  /* line 225, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .company-header {
    height: auto;
    padding-bottom: 0px;
    min-height: auto;
  }
}

/* line 247, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.company-header .big-logo {
  position: relative;
  top: 0px;
  width: 650px;
  float: right;
}

@media (max-width: 1500px) {
  /* line 247, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .company-header .big-logo {
    width: 500px;
  }
}

@media (max-width: 1240px) {
  /* line 247, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .company-header .big-logo {
    width: 450px;
  }
}

@media (max-width: 1024px) {
  /* line 247, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .company-header .big-logo {
    width: 340px;
  }
}

@media (max-width: 767px) {
  /* line 247, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .company-header .big-logo {
    width: 80%;
    float: none;
    margin: 0 auto;
    top: 0;
    padding-top: 50px;
    max-width: 400px;
  }
}

/* line 270, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.company-header .pattern-orange {
  position: relative;
  top: 405px;
  text-align: center;
}

@media (max-width: 1500px) {
  /* line 270, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .company-header .pattern-orange {
    top: 307px;
  }
}

@media (max-width: 1240px) {
  /* line 270, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .company-header .pattern-orange {
    top: 275px;
  }
}

@media (max-width: 1024px) {
  /* line 270, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .company-header .pattern-orange {
    top: 200px;
  }
}

@media (max-width: 767px) {
  /* line 270, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .company-header .pattern-orange {
    top: 0;
    padding: 10px 0;
  }
}

/* line 288, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.company-header .container {
  height: 100%;
}

@media (max-width: 767px) {
  /* line 288, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .company-header .container {
    height: auto;
  }
}

/* line 293, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.company-header .container .company-header-title {
  font-size: 30px;
  color: #F26722;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  /* line 293, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .company-header .container .company-header-title {
    font-size: 24px;
    line-height: 28px;
  }
}

/* line 304, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.company-header .container .company-header-text {
  color: #fff;
  font-size: 24px;
  position: relative;
  top: 405px;
  margin-top: -10px;
}

@media (max-width: 1500px) {
  /* line 304, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .company-header .container .company-header-text {
    top: 307px;
  }
}

@media (max-width: 1240px) {
  /* line 304, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .company-header .container .company-header-text {
    top: 275px;
  }
}

@media (max-width: 1024px) {
  /* line 304, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .company-header .container .company-header-text {
    top: 200px;
  }
}

@media (max-width: 767px) {
  /* line 304, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .company-header .container .company-header-text {
    top: 0;
    padding: 10px 0;
  }
}

@media (max-width: 767px) {
  /* line 304, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .company-header .container .company-header-text {
    top: 0px;
    text-align: center;
    margin-top: 0;
  }
}

/* FULL WIDTH BANNER */
/* line 337, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.full-banner .banner {
  width: 100%;
  padding: 10px 0 40px 0;
}

/* line 340, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.full-banner .banner img {
  width: 100%;
}

/* LAYOUT MOSAICO */
/* line 348, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.layout_mosaico {
  padding-bottom: 70px;
}

/* line 350, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.layout_mosaico a {
  display: inline-block;
}

/* line 352, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.layout_mosaico a .testo-mosaico {
  font-size: 16px;
  font-weight: 700;
  color: #006578;
  text-transform: uppercase;
  margin-top: 5px;
  text-align: left;
  height: 25px;
}

@media (max-width: 767px) {
  /* line 352, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .layout_mosaico a .testo-mosaico {
    margin-bottom: 10px;
  }
}

/* line 365, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.layout_mosaico .section-text {
  color: #006578;
  max-width: 75%;
}

@media (max-width: 767px) {
  /* line 365, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .layout_mosaico .section-text {
    max-width: 100%;
  }
}

/* line 373, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.layout_mosaico .orizontal-mosaic {
  height: 340px;
  position: relative;
  width: 100%;
}

/* line 377, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.layout_mosaico .orizontal-mosaic .image-mosaico {
  overflow: hidden;
  height: 310px;
  position: relative;
}

/* line 381, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.layout_mosaico .orizontal-mosaic .image-mosaico img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  max-width: none;
  height: 310px;
}

/* line 393, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.layout_mosaico .vertical-mosaic {
  height: 680px;
  position: relative;
  width: 100%;
}

/* line 397, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.layout_mosaico .vertical-mosaic .image-mosaico {
  overflow: hidden;
  height: 650px;
  position: relative;
}

/* line 401, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.layout_mosaico .vertical-mosaic .image-mosaico img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  max-width: none;
  height: 650px;
}

/* BOX WITH BUTTON */
/* line 417, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.box-button {
  padding: 10px 0 40px 0;
}

/* line 419, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.box-button .box {
  margin-top: 20px;
}

/* line 421, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.box-button .box .orange-button {
  width: 80%;
  margin-top: 25px;
  background: #fff;
}

/* line 425, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.box-button .box .orange-button:hover {
  background: #F26722;
}

/* FEATURED PRODUCT */
/* line 434, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.featured-product {
  padding: 10px 0 40px 0;
}

/* line 436, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.featured-product .product-box {
  margin-top: 20px;
}

/* line 438, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.featured-product .product-box .product-name {
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
  text-transform: uppercase;
}

/* line 439, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.featured-product .product-box .product-name a {
  color: #006578;
}

/* line 447, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.featured-product .product-box .product-price {
  font-weight: 700;
  color: #F26722;
  margin-top: 10px;
}

/* line 452, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.featured-product .product-box .product-add-to-cart {
  float: right;
}

/* DUE COLONNE */
/* line 460, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.due_colonne {
  padding: 10px 0 40px 0;
}

/* line 462, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.due_colonne .image {
  margin-top: 10px;
}

/* line 465, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.due_colonne .text {
  padding-left: 25px;
  color: #006578;
  max-width: 75%;
}

@media (max-width: 1024px) {
  /* line 465, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .due_colonne .text {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  /* line 465, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .due_colonne .text {
    max-width: 100%;
    margin-top: 20px;
    padding-left: 0;
  }
}

/* line 477, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.due_colonne .text h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
}

/* line 482, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.due_colonne .text h2 {
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 20px;
}

/* line 487, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.due_colonne .text h3 {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 0px;
}

/* line 492, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.due_colonne .text a {
  color: #F26722;
}

/* line 494, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.due_colonne .text a:hover {
  color: #fff;
}

/* line 498, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.due_colonne .text .orange-button {
  margin-top: 20px;
}

/* PRIZE LIST */
/* line 506, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.prize-list {
  padding: 10px 0 40px 0;
}

/* line 508, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.prize-list .prize {
  margin-top: 20px;
}

/* PRIZE DETAILED LIST */
/* line 515, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.prize_detailed_list {
  padding: 10px 0 40px 0;
}

/* line 517, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.prize_detailed_list .premio-wrap {
  padding: 20px 0;
}

/* line 519, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.prize_detailed_list .premio-wrap .premio-image {
  max-width: 150px;
  float: right;
}

@media (max-width: 767px) {
  /* line 519, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .prize_detailed_list .premio-wrap .premio-image {
    float: none;
    margin: 0 auto 15px auto;
  }
}

/* line 527, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.prize_detailed_list .premio-wrap .premio-title {
  color: #006578;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 15px;
}

/* line 534, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.prize_detailed_list .premio-wrap .premio-text {
  color: #006578;
}

/* line 537, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.prize_detailed_list .premio-wrap hr {
  width: calc(50% + 200px);
  margin-right: 0;
  border-top: 1px solid #006578;
  margin-top: 50px;
}

@media (max-width: 767px) {
  /* line 537, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
  .prize_detailed_list .premio-wrap hr {
    margin: 15px;
  }
}

/* CUSTOMIZATION PREVIEW */
/* line 552, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.customization-preview .section-text {
  color: #006578;
  max-width: 75%;
  margin-bottom: 30px;
}

/* line 559, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.customization-preview .image-mosaico {
  position: relative;
  overflow: hidden;
}

/* line 562, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.customization-preview .image-mosaico.big {
  height: 520px;
}

/* line 564, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.customization-preview .image-mosaico.big img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: none;
  min-height: 520px;
}

/* line 574, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.customization-preview .image-mosaico.small {
  height: 250px;
  margin-bottom: 20px;
}

/* line 577, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.customization-preview .image-mosaico.small img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: none;
  min-height: 250px;
}

/* CONTACTS */
/* line 593, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.form-input input {
  border: none;
  border-bottom: 1px solid #F26722;
  color: #006578;
  padding: 10px 15px;
  margin-top: 10px;
  width: 100%;
}

/* line 600, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.form-input input::placeholder {
  color: #006578;
}

/* line 604, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.form-input textarea {
  border: none;
  border: 1px solid #F26722;
  color: #006578;
  padding: 10px 15px;
  margin-top: 15px;
  resize: none;
  max-height: 100px;
  width: 100%;
}

/* line 613, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.form-input textarea::placeholder {
  color: #006578;
}

/* line 619, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.form-notes {
  font-size: 14px;
  color: #006578;
}

/* line 624, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.form-submit {
  text-align: left;
  margin-top: 30px;
}

/* line 627, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.form-submit input {
  text-align: center;
  color: #fff;
  border: 1px solid #F26722;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 6px 50px;
  display: inline-block;
  background-color: #F26722;
}

/* line 638, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.form-submit input:hover {
  background-color: #fff;
  color: #F26722;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* LOGIN */
/* line 651, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.tml .tml-label {
  display: none;
}

/* line 655, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.tml .tml-button {
  text-align: center;
  color: #fff;
  border: 1px solid #F26722;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 6px 50px;
  display: inline-block;
  background-color: #F26722;
}

/* line 666, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.tml .tml-button:hover {
  background-color: #fff;
  color: #F26722;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 675, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.tml .tml-submit-wrap {
  display: inline-block;
}

/* line 679, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.tml .tml-register-link, .tml .tml-login-link {
  float: right;
  margin-top: -50px;
}

/* line 682, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.tml .tml-register-link a, .tml .tml-login-link a {
  text-align: center;
  color: #F26722;
  border: 1px solid #F26722;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 6px 50px;
  display: inline-block;
  background-color: #fff;
}

/* line 693, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.tml .tml-register-link a:hover, .tml .tml-login-link a:hover {
  background-color: #F26722;
  color: #fff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 704, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.tml .tml-lostpassword-link a {
  font-size: 14px;
  color: #F26722;
}

/* line 710, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.tml input {
  border: none;
  border-bottom: 1px solid #F26722;
  color: #006578;
  padding: 10px 15px;
  margin-top: 10px;
  width: 100%;
}

/* line 717, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/main.scss */
.tml input::placeholder {
  color: #006578;
}

/*# sourceMappingURL=main.css.map */