/* DEFINE FONTS*/
/* DEFINE COLOURS*/
/* line 3, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
.welcome-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  background: #006578;
}

@media (max-width: 767px) {
  /* line 3, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
  .welcome-wrapper {
    height: auto;
  }
}

/* line 11, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
.welcome-wrapper .left-column {
  width: 33.33%;
  height: 100%;
  position: relative;
}

@media (max-width: 767px) {
  /* line 11, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
  .welcome-wrapper .left-column {
    width: 100%;
    height: auto;
  }
}

/* line 19, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
.welcome-wrapper .left-column .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  /* line 19, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
  .welcome-wrapper .left-column .logo {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin: 0 auto;
    padding: 20px 0;
    max-width: 150px;
  }
}

/* line 35, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
.welcome-wrapper .right-column {
  width: 66.66%;
  position: absolute;
  top: 0;
  left: 33.33%;
  height: 100%;
}

@media (max-width: 767px) {
  /* line 35, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
  .welcome-wrapper .right-column {
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
  }
}

/* line 47, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
.welcome-wrapper .right-column .first-box {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
  background: #fff;
}

@media (max-width: 767px) {
  /* line 47, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
  .welcome-wrapper .right-column .first-box {
    position: relative;
    height: auto;
    min-height: 300px;
  }
}

/* line 58, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
.welcome-wrapper .right-column .first-box .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 101, 120, 0.2);
  z-index: 1;
}

/* line 66, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
.welcome-wrapper .right-column .second-box {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
  top: 50%;
  background: #000;
}

@media (max-width: 767px) {
  /* line 66, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
  .welcome-wrapper .right-column .second-box {
    position: relative;
    height: auto;
    min-height: 300px;
    top: 0;
  }
}

/* line 79, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
.welcome-wrapper .right-column .second-box .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(242, 103, 34, 0.2);
  z-index: 1;
}

/* line 88, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
.welcome-wrapper .right-column .link-box {
  position: absolute;
  left: 50px;
  bottom: 50px;
  z-index: 2;
}

@media (max-width: 767px) {
  /* line 88, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
  .welcome-wrapper .right-column .link-box {
    left: 20px;
    bottom: 20px;
  }
}

/* line 97, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
.welcome-wrapper .right-column .link-box .link-icon {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}

/* line 103, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
.welcome-wrapper .right-column .link-box .link-title {
  color: #fff;
  font-size: 30px;
}

@media (max-width: 767px) {
  /* line 103, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
  .welcome-wrapper .right-column .link-box .link-title {
    font-size: 24px;
  }
}

/* line 110, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
.welcome-wrapper .right-column .link-box .link-button {
  background: #fff;
  color: #F26722;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 0;
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  display: inline-block;
}

@media (max-width: 767px) {
  /* line 110, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/welcome.scss */
  .welcome-wrapper .right-column .link-box .link-button {
    width: 200px;
    font-size: 14px;
    padding: 6px 0;
    margin-top: 10px;
  }
}

/*# sourceMappingURL=welcome.css.map */