/* DEFINE FONTS*/
/* DEFINE COLOURS*/
/* line 2, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce {
  /* CART */
  /* MESSAGES */
  /* SINGLE PRODUCT */
  /* CHECKOUT */
}

/* line 6, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce table.tamilano-cart {
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid #F26722;
  border-radius: 0;
}

/* line 12, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce table.tamilano-cart tr th {
  font-weight: 400;
  color: #006578;
  text-align: center;
  font-size: 18px;
}

/* line 18, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce table.tamilano-cart tr td {
  border-color: #F26722;
  color: #F26722;
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
  background: #fff !important;
}

@media (max-width: 767px) {
  /* line 18, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce table.tamilano-cart tr td {
    border: none;
    font-size: 16px;
    padding: 5px 0;
  }
  /* line 29, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce table.tamilano-cart tr td:first-child {
    padding-top: 15px;
    text-align: left !important;
  }
  /* line 33, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce table.tamilano-cart tr td:last-child {
    border-bottom: 1px solid #F26722;
    padding-bottom: 15px;
  }
}

/* line 38, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce table.tamilano-cart tr td.product-name {
  text-align: left;
  padding-left: 50px;
}

@media (max-width: 767px) {
  /* line 38, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce table.tamilano-cart tr td.product-name {
    padding-left: 0px;
  }
  /* line 43, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce table.tamilano-cart tr td.product-name::before {
    display: none;
  }
}

/* line 48, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce table.tamilano-cart tr td.product-name .product-image {
  display: inline-block;
}

@media (max-width: 767px) {
  /* line 48, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce table.tamilano-cart tr td.product-name .product-image {
    display: block;
    clear: both;
    margin: 10px 0;
  }
}

/* line 55, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce table.tamilano-cart tr td.product-name .product-image img {
  width: 100px;
}

/* line 59, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce table.tamilano-cart tr td.product-name .product-title {
  display: inline-block;
}

@media (max-width: 767px) {
  /* line 59, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce table.tamilano-cart tr td.product-name .product-title {
    display: block;
  }
}

/* line 64, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce table.tamilano-cart tr td.product-name .product-title a {
  margin-left: 10px;
  color: #F26722;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 767px) {
  /* line 64, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce table.tamilano-cart tr td.product-name .product-title a {
    margin-left: 0;
  }
}

/* line 73, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce table.tamilano-cart tr td.product-name .product-title a.remove {
  font-size: 13px;
  color: #BFBFBF !important;
  text-transform: none;
  font-weight: 400;
}

/* line 78, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce table.tamilano-cart tr td.product-name .product-title a.remove:hover {
  background: none;
}

/* line 85, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce table.tamilano-cart tr td .quantity input {
  border: 1px solid #F26722;
  border-radius: 0;
  color: #F26722;
}

/* line 89, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce table.tamilano-cart tr td .quantity input::-webkit-inner-spin-button {
  opacity: 1;
  margin: 0;
  background: #fff !important;
  color: #F26722 !important;
}

/* line 101, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce table.tamilano-total {
  border: none;
  color: #006578;
  text-align: right;
}

/* line 105, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce table.tamilano-total th {
  border: none !important;
}

/* line 108, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce table.tamilano-total td {
  border: none;
}

/* line 112, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce table.tamilano-total tr.cart-subtotal {
  font-size: 20px;
  font-weight: 700;
}

/* line 117, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce table.tamilano-total tr.cart-info td {
  font-size: 14px;
}

@media (max-width: 767px) {
  /* line 117, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce table.tamilano-total tr.cart-info td {
    font-size: 13px;
    background: #fff;
  }
  /* line 122, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce table.tamilano-total tr.cart-info td::before {
    display: none;
  }
}

/* line 131, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .cart-button .orange-button {
  width: 100%;
  background: #fff;
}

/* line 134, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .cart-button .orange-button:hover {
  background: #F26722;
  color: #fff;
}

/* line 138, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .cart-button .orange-button.checkout-button {
  background: #F26722;
  color: #fff;
}

/* line 141, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .cart-button .orange-button.checkout-button:hover {
  background: #fff;
  color: #F26722;
}

@media (max-width: 767px) {
  /* line 131, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce .cart-button .orange-button {
    margin-top: 10px;
  }
}

/* line 153, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
  margin: 15px 0;
  background: #fff;
  color: #006578;
  border: none;
  border-bottom: 1px solid #F26722;
}

/* line 161, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-error::before,
.woocommerce .woocommerce-info::before,
.woocommerce .woocommerce-message::before {
  color: #F26722;
}

/* line 164, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-error a,
.woocommerce .woocommerce-info a,
.woocommerce .woocommerce-message a {
  color: #F26722;
}

/* line 166, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-error a.button,
.woocommerce .woocommerce-info a.button,
.woocommerce .woocommerce-message a.button {
  background: #fff;
  border: 1px solid #F26722;
  border-radius: 0;
}

/* line 174, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-notices-wrapper {
  margin: 15px 0;
}

/* line 176, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-notices-wrapper .woocommerce-message {
  background: #fff;
  color: #006578;
  border: none;
  border-bottom: 1px solid #F26722;
}

/* line 181, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-notices-wrapper .woocommerce-message::before {
  color: #F26722;
}

/* line 184, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-notices-wrapper .woocommerce-message a {
  color: #F26722;
}

/* line 191, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-info {
  margin: 15px 0;
  background: #fff;
  color: #006578;
  border: none;
  border-bottom: 1px solid #F26722;
}

/* line 197, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-info::before {
  color: #F26722;
}

/* line 200, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-info a {
  color: #F26722;
}

/* line 207, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product {
  padding: 10px 0 40px 0;
}

/* line 210, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .woocommerce-product-gallery.tamilano-product-image-wrap {
  width: 100%;
  pointer-events: none;
}

/* line 213, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .woocommerce-product-gallery.tamilano-product-image-wrap .woocommerce-product-gallery__trigger {
  display: none;
}

/* line 216, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .woocommerce-product-gallery.tamilano-product-image-wrap .tamilano-product-image {
  max-width: 600px;
  float: right;
}

/* line 223, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary {
  margin-top: 5px;
}

/* line 225, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .product-title {
  color: #F26722;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

/* line 231, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .price {
  color: #006578;
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  border-bottom: 1px solid #F26722;
  padding-bottom: 15px;
}

/* line 239, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .product-description {
  margin-top: 15px;
  color: #006578;
  font-size: 16px;
}

/* line 244, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .variations {
  margin-top: 15px;
}

/* line 246, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .variations .variation-label {
  color: #006578;
  font-size: 18px;
  margin: 0;
}

/* line 252, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .variations .variation-select select {
  border-radius: 0;
  border: 1px solid #F26722;
  color: #F26722;
  font-size: 14px;
  padding: 8px;
  max-width: 250px;
  outline: none;
}

/* line 262, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .variations .reset_variations {
  display: none !important;
}

/* line 266, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .add-to-cart-wrap {
  border-top: 1px solid #F26722;
  padding: 15px 0;
}

/* line 269, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .add-to-cart-wrap .single_variation {
  padding-bottom: 15px;
}

/* line 271, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .add-to-cart-wrap .single_variation .woocommerce-variation-description {
  display: none;
}

/* line 274, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .add-to-cart-wrap .single_variation .woocommerce-variation-availability {
  display: none;
}

/* line 277, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .add-to-cart-wrap .single_variation .woocommerce-variation-ingredients {
  display: none;
}

/* line 280, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .add-to-cart-wrap .single_variation .price {
  border: none;
}

/* line 284, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .add-to-cart-wrap .orange-button {
  width: 100%;
  color: #fff;
  background-color: #F26722;
}

/* line 289, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .add-to-cart-wrap .quantity {
  width: 100%;
  margin: 0;
}

/* line 292, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .add-to-cart-wrap .quantity input {
  border: 1px solid #F26722;
  border-radius: 0;
  color: #F26722;
  padding: 5px 0 6px 0;
  width: 100%;
}

/* line 300, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .add-to-cart-wrap .tinv-wraper.tinv-wishlist {
  display: inline-block;
  width: 100%;
}

/* line 303, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .add-to-cart-wrap .tinv-wraper.tinv-wishlist a {
  border: 1px solid #F26722;
  border-radius: 0;
  color: #F26722;
  padding: 7px 0;
  width: 100%;
  text-align: center;
  display: inline-block;
}

/* line 316, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .tamilano-product-summary .text-premio {
  font-size: 12px;
  color: #006578;
}

/* line 322, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .woocommerce-tabs.tamilano-tabs {
  border-top: 1px solid #F26722;
  margin-top: 30px;
}

/* line 325, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .woocommerce-tabs.tamilano-tabs ul.tabs {
  text-align: center;
  border: none;
  margin: 0;
}

/* line 329, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .woocommerce-tabs.tamilano-tabs ul.tabs:before, .woocommerce .product .woocommerce-tabs.tamilano-tabs ul.tabs:after {
  border: none;
}

/* line 330, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .woocommerce-tabs.tamilano-tabs ul.tabs li {
  padding: 10px 30px;
  background: none;
  border: none;
  border-radius: 0;
}

@media (max-width: 767px) {
  /* line 330, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce .product .woocommerce-tabs.tamilano-tabs ul.tabs li {
    padding: 5px;
    width: 100%;
  }
}

/* line 339, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .woocommerce-tabs.tamilano-tabs ul.tabs li:before, .woocommerce .product .woocommerce-tabs.tamilano-tabs ul.tabs li:after {
  border: none;
}

/* line 340, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .woocommerce-tabs.tamilano-tabs ul.tabs li a {
  text-transform: uppercase;
  color: #006578;
}

/* line 345, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .woocommerce-tabs.tamilano-tabs ul.tabs li.active a {
  color: #F26722;
}

/* line 351, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .product .woocommerce-tabs.tamilano-tabs .woocommerce-Tabs-panel {
  padding: 40px 100px;
  line-height: 30px;
  color: #006578;
  text-align: left;
  border-bottom: 1px solid #F26722;
}

@media (max-width: 767px) {
  /* line 351, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce .product .woocommerce-tabs.tamilano-tabs .woocommerce-Tabs-panel {
    padding: 20px 0px;
  }
}

/* line 366, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .products .product {
  margin-top: 20px;
}

/* line 369, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .products .product .product-image img {
  width: 100%;
}

/* line 372, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .products .product .product-image .tinv-wraper.tinv-wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #F26722;
  font-size: 20px;
}

/* line 379, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .products .product .product-image .prize-patch {
  position: absolute;
  top: 18px;
  left: 10px;
  color: #F26722;
}

/* line 387, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .products .product .product-title h2 {
  font-size: 16px;
  font-weight: 700;
  color: #006578;
  margin-top: 10px;
  text-transform: uppercase;
}

/* line 395, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .products .product .price {
  font-weight: 700;
  color: #F26722;
  margin-top: 10px;
}

/* line 400, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .products .product .add_to_cart_button {
  float: right;
  text-align: center;
  color: #F26722;
  border: 1px solid #F26722;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 7px 25px;
  border-radius: 0;
  background: #fff;
}

/* line 412, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .products .product .added_to_cart {
  display: none !important;
}

@media (max-width: 767px) {
  /* line 418, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce .shop-sidebar {
    display: none;
  }
}

/* line 422, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .shop-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 250px;
}

@media (max-width: 767px) {
  /* line 422, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce .shop-sidebar ul {
    max-width: 100%;
  }
}

/* line 430, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .shop-sidebar ul li {
  padding: 15px 0;
  border-bottom: 1px solid #F26722;
  position: relative;
}

/* line 435, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .shop-sidebar ul li.current-cat a {
  color: #F26722;
}

/* line 439, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .shop-sidebar ul li a {
  color: #006578;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

/* line 445, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .shop-sidebar ul li .toggle {
  color: #F26722;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 15px;
  right: 0;
  cursor: pointer;
}

/* line 454, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .shop-sidebar ul li .children {
  border-top: 1px solid #F26722;
  margin-top: 15px;
  padding-top: 15px;
}

/* line 458, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .shop-sidebar ul li .children li {
  padding: 5px 15px;
  border-bottom: none;
}

/* line 461, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .shop-sidebar ul li .children li a {
  color: #006578;
  font-weight: 400;
  font-size: 16px;
}

/* line 475, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout h2 {
  color: #006578;
  font-weight: 400;
  font-size: 24px;
}

/* line 481, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout h3 {
  color: #006578;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 767px) {
  /* line 481, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce .customer-checkout h3 {
    margin-top: 20px;
  }
}

/* line 490, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .checkout-login {
  font-size: 14px;
  color: #747474;
}

/* line 493, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .checkout-login a {
  color: #F26722;
  font-weight: 700;
}

/* line 499, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout #payment {
  background: none;
}

/* line 501, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout #payment ul.payment_methods {
  border-color: #F26722;
}

/* line 503, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout #payment ul.payment_methods li[class*=payment_method] > input[name=payment_method] + label {
  color: #006578;
}

/* line 505, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout #payment ul.payment_methods li[class*=payment_method] > input[name=payment_method] + label a {
  margin-left: 10px;
  color: #F26722;
  line-height: 34px;
  font-size: 12px;
}

/* line 514, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout #payment .place-order {
  color: #006578;
}

/* line 516, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout #payment .place-order a {
  color: #F26722;
}

/* line 519, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout #payment .place-order button {
  text-align: center;
  color: #fff;
  border: 1px solid #F26722;
  background-color: #F26722;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 25px;
  display: inline-block;
  border-radius: 0;
  outline: none;
  width: 250px;
  margin: 10px auto;
}

/* line 533, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout #payment .place-order button:hover {
  background-color: #fff;
  color: #F26722;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 544, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout #billing_company_field, .woocommerce .customer-checkout #billing_eu_vat_number_field {
  display: none;
}

/* line 548, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .campi-fattura {
  display: none;
}

/* line 553, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .woocommerce-billing-fields .form-row, .woocommerce .customer-checkout .woocommerce-shipping-fields .form-row, .woocommerce .customer-checkout .woocommerce-additional-fields .form-row {
  width: 100%;
  display: inline-block;
  margin: 0;
}

/* line 557, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .woocommerce-billing-fields .form-row input, .woocommerce .customer-checkout .woocommerce-shipping-fields .form-row input, .woocommerce .customer-checkout .woocommerce-additional-fields .form-row input {
  border: none;
  width: 100%;
  color: #006578;
  border-bottom: 1px solid #F26722 !important;
  padding: 15px 20px;
  display: inline-block;
  outline: none;
}

/* line 565, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .woocommerce-billing-fields .form-row input::placeholder, .woocommerce .customer-checkout .woocommerce-shipping-fields .form-row input::placeholder, .woocommerce .customer-checkout .woocommerce-additional-fields .form-row input::placeholder {
  color: #006578;
}

/* line 569, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .woocommerce-billing-fields .form-row textarea, .woocommerce .customer-checkout .woocommerce-shipping-fields .form-row textarea, .woocommerce .customer-checkout .woocommerce-additional-fields .form-row textarea {
  border: none;
  width: 100%;
  color: #006578;
  border-bottom: 1px solid #F26722 !important;
  padding: 15px 20px;
  display: inline-block;
  resize: none;
  outline: none;
}

/* line 578, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .woocommerce-billing-fields .form-row textarea::placeholder, .woocommerce .customer-checkout .woocommerce-shipping-fields .form-row textarea::placeholder, .woocommerce .customer-checkout .woocommerce-additional-fields .form-row textarea::placeholder {
  color: #006578;
}

/* line 582, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .woocommerce-billing-fields .form-row select, .woocommerce .customer-checkout .woocommerce-shipping-fields .form-row select, .woocommerce .customer-checkout .woocommerce-additional-fields .form-row select {
  border: none;
  width: 100%;
  color: #006578;
  border-bottom: 1px solid #F26722 !important;
  padding: 15px 20px;
  display: inline-block;
  outline: none;
}

/* line 591, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .woocommerce-billing-fields .form-row .select2-container--default, .woocommerce .customer-checkout .woocommerce-shipping-fields .form-row .select2-container--default, .woocommerce .customer-checkout .woocommerce-additional-fields .form-row .select2-container--default {
  border: none;
  width: 100%;
  color: #006578;
  display: inline-block;
  border-bottom: 1px solid #F26722;
  padding: 15px 20px;
  border-radius: 0;
}

/* line 599, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .woocommerce-billing-fields .form-row .select2-container--default .select2-selection__arrow b, .woocommerce .customer-checkout .woocommerce-shipping-fields .form-row .select2-container--default .select2-selection__arrow b, .woocommerce .customer-checkout .woocommerce-additional-fields .form-row .select2-container--default .select2-selection__arrow b {
  border-color: #006578 transparent transparent transparent;
  margin-top: 14px;
}

/* line 603, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .woocommerce-billing-fields .form-row .select2-container--default .select2-selection--single, .woocommerce .customer-checkout .woocommerce-shipping-fields .form-row .select2-container--default .select2-selection--single, .woocommerce .customer-checkout .woocommerce-additional-fields .form-row .select2-container--default .select2-selection--single {
  color: #F26722;
  border: none;
  border-radius: 0;
  padding: 0;
  outline: none;
}

/* line 609, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .woocommerce-billing-fields .form-row .select2-container--default .select2-selection--single .select2-selection__rendered, .woocommerce .customer-checkout .woocommerce-shipping-fields .form-row .select2-container--default .select2-selection--single .select2-selection__rendered, .woocommerce .customer-checkout .woocommerce-additional-fields .form-row .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #006578;
  padding: 0;
}

/* line 619, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .shop_table.woocommerce-checkout-review-order-table {
  border: none;
}

/* line 622, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .shop_table.woocommerce-checkout-review-order-table thead th {
  color: #006578;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: 1px solid #F26722;
}

/* line 628, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .shop_table.woocommerce-checkout-review-order-table thead th.product-name {
  width: 300px;
}

/* line 634, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .shop_table.woocommerce-checkout-review-order-table tbody td {
  border: none;
  color: #006578;
  font-size: 16px;
}

/* line 638, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .shop_table.woocommerce-checkout-review-order-table tbody td.product-total {
  font-weight: 700;
}

/* line 649, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .shop_table.woocommerce-checkout-review-order-table tfoot tr.shipping td ul li {
  margin: 0 !important;
  position: relative;
}

/* line 652, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .shop_table.woocommerce-checkout-review-order-table tfoot tr.shipping td ul li label {
  position: absolute;
  left: 300px;
}

/* line 660, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .shop_table.woocommerce-checkout-review-order-table tfoot tr th {
  border: none;
  color: #006578;
  border-top: 1px solid #F26722;
}

/* line 665, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .customer-checkout .shop_table.woocommerce-checkout-review-order-table tfoot tr td {
  border: none;
  color: #006578;
  border-top: 1px solid #F26722;
}

/* line 676, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .return-to-shop .button {
  text-align: center;
  color: #fff;
  border: 1px solid #F26722;
  background-color: #F26722;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 25px;
  display: inline-block;
  border-radius: 0;
  outline: none;
  margin: 10px 0;
}

/* line 689, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .return-to-shop .button:hover {
  background-color: #fff;
  color: #F26722;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 699, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .my-account-page {
  width: 100%;
}

/* line 701, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .my-account-page .my-account-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #F26722;
}

/* line 706, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .my-account-page .my-account-ul li {
  display: inline-block;
  text-align: center;
  padding: 10px;
}

/* line 711, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .my-account-page .my-account-ul li.is-active a {
  color: #F26722;
}

/* line 717, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .my-account-page .password-input {
  width: 100%;
}

/* line 720, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .my-account-page input {
  border: none;
  width: 100%;
  color: #006578;
  border-bottom: 1px solid #F26722 !important;
  padding: 15px 20px;
  display: inline-block;
  outline: none;
}

/* line 728, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .my-account-page input::placeholder {
  color: #006578;
}

/* line 732, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .my-account-page em {
  font-size: 11px;
}

/* line 735, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .my-account-page fieldset {
  margin-top: 30px;
}

/* line 738, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .my-account-page .button {
  text-align: center;
  color: #fff;
  border: 1px solid #F26722;
  background-color: #F26722;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 25px;
  display: inline-block;
  border-radius: 0;
  outline: none;
  margin: 10px 0;
}

/* line 751, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .my-account-page .button:hover {
  background-color: #fff;
  color: #F26722;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 761, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-order-overview {
  padding: 0;
  margin-top: 40px !important;
}

/* line 764, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-order-overview li {
  border-right: 1px solid #F26722 !important;
  color: #006578;
}

/* line 773, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-customer-details h2,
.woocommerce .woocommerce-order-details h2 {
  color: #006578;
  font-weight: 400;
  font-size: 24px;
}

/* line 778, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-customer-details .shop_table,
.woocommerce .woocommerce-order-details .shop_table {
  border: none;
  color: #006578;
}

/* line 781, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-customer-details .shop_table a,
.woocommerce .woocommerce-order-details .shop_table a {
  color: #F26722;
}

/* line 784, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-customer-details .shop_table th,
.woocommerce .woocommerce-order-details .shop_table th {
  border-color: #F26722;
}

/* line 788, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-customer-details .shop_table td,
.woocommerce .woocommerce-order-details .shop_table td {
  border-color: #F26722;
}

/* line 793, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-customer-details address,
.woocommerce .woocommerce-order-details address {
  border: none;
  padding: 15px 0;
  border-top: 1px solid #F26722;
  color: #006578;
  border-radius: 0;
}

/* line 804, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .account-orders-table.shop_table {
  border: none;
  border-radius: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 810, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .account-orders-table.shop_table tr td {
  background: #fff;
  border: none;
  border-bottom: 1px solid #F26722;
}

@media (max-width: 767px) {
  /* line 810, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce .account-orders-table.shop_table tr td {
    border: none;
    background: #fff !important;
  }
  /* line 817, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce .account-orders-table.shop_table tr td:first-child {
    padding-top: 10px;
  }
  /* line 818, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
  .woocommerce .account-orders-table.shop_table tr td:last-child {
    padding-bottom: 10px;
    border-bottom: 1px solid #F26722;
  }
}

/* line 820, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .account-orders-table.shop_table tr td .woocommerce-button {
  text-align: center;
  color: #fff;
  border: 1px solid #F26722;
  background-color: #F26722;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  padding: 5px 12px;
  display: inline-block;
  border-radius: 0;
  outline: none;
  margin: 10px 0;
}

/* line 833, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .account-orders-table.shop_table tr td .woocommerce-button:hover {
  background-color: #fff;
  color: #F26722;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 842, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .account-orders-table.shop_table tr th {
  border: none;
  border-bottom: 1px solid #F26722;
}

/* line 851, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-pagination ul.page-numbers {
  border: none;
}

/* line 853, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-pagination ul.page-numbers li {
  border: none;
  color: #F26722;
  background: #fff;
}

/* line 857, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-pagination ul.page-numbers li:hover {
  background: #fff;
}

/* line 860, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-pagination ul.page-numbers li a {
  color: #006578;
  background: #fff;
}

/* line 863, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-pagination ul.page-numbers li a:hover {
  background: #fff;
}

/* line 867, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.woocommerce .woocommerce-pagination ul.page-numbers li span.current {
  color: #F26722;
  background: #fff;
}

/* line 878, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.tinv-modal-inner i {
  color: #006578 !important;
}

/* line 881, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.tinv-modal-inner .tinv-txt {
  color: #006578 !important;
}

/* line 884, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.tinv-modal-inner button {
  border: 1px #F26722 solid !important;
  background: #fff !important;
  color: #F26722 !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  font-weight: 400 !important;
}

/* line 891, P:/Projects/AddLab/Ta milano/tamilano-child-duplicate/scss/woocommerce.scss */
.tinv-modal-inner button i {
  color: #F26722 !important;
}

/*# sourceMappingURL=woocommerce.css.map */